body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  width: 300px;
  height: 300px;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.modal .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal .modal-header {
  margin-top: 72px;
}

.modal .modal-body {
  margin-top: 20px;
}

.modal .confirm-btn {
  margin: 20px 10px;
}

.modal button:focus {
  color: #fff;
  background-color: pink;
}